@import url('https://fonts.googleapis.com/css?family=Roboto+sans-serif');

:root {
  --primary-color: #333;
  --secondary-color: #666;
  --text-color: black;
}

   /* Class Selectors */
   nav ul {
    display: flex;
  }
  
   /* Header and footer styles */
header, .grid, footer {
  max-width: 840px;
  border-spacing: 20px 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  grid-template-areas:
      "aside main";
}

  /* The header */
  .header {
    display: flex;
    justify-content: space-around;
  }

    /* The menu items */
    .header nav {
      list-style-type: none; /* Remove bullets */
      justify-content: space-evenly;
    }
    
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  max-width: 900px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
}

a.sociallink {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero article {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.hero article img {
  float: right;
  margin-left: 20px;
}

.box {
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
  background-color: #f2f2f2;
  color: black;
}
